* {
    box-sizing: border-box;
    
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Roboto-Regular;
}

img {
    width: 100%;
}

textarea {
    font-size: 12px;
}
p{
    margin: 0;
}
a{
    text-decoration: none;
}